[Unit]
Description=Simple V2ray Client Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/v2ray -config /etc/v2ray/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target

